<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
<table>
  <tr>
    <th>Valor da Moeda Base</th>
    <td>R$ {{ base_coin_value }}</td>
  </tr>
</table>
<table>
  <tr>
    <th></th>
    {% for report in monthly_reports -%}
      <th>{{report.header }}</th>
    {% endfor -%}
    <th>Total Período</th>
  </tr>
  <tr>
    <td>Vendas</td>
    {% for report in monthly_reports -%}
      <td>R$ {{report.sale }}</td>
    {% endfor -%}
    <td>R$ 78,00</td>
  </tr>
  <tr>
    <td>Vendas com Pontoz</td>
    {% for report in monthly_reports -%}
      <td>R$ {{report.pointz_sale }}</td>
    {% endfor -%}
    <td>R$ 222,00</td>
  </tr>
  <tr>
    <td>% Participação nas Vendas</td>
    <td>1300%</td>
    <td>700%</td>
    <td>500%</td>
    <td>400%</td>
    <td>340%</td>
    <td>300%</td>
    <td>271%</td>
    <td>250%</td>
    <td>233%</td>
    <td>220%</td>
    <td>209%</td>
    <td>200%</td>
    <td>285%</td>
  </tr>
  <tr>
    <td>(-) Emissão de Moeda Base</td>
    {% for report in monthly_reports -%}
      <td>R$ {{report.base_coin_cost }}</td>
    {% endfor -%}
    <td>R$ 13,86</td>
  </tr>
  <tr>
    <td>Investimento / Faturamento</td>
    <td>8%</td>
    <td>7%</td>
    <td>6%</td>
    <td>6%</td>
    <td>5%</td>
    <td>5%</td>
    <td>4%</td>
    <td>4%</td>
    <td>4%</td>
    <td>4%</td>
    <td>4%</td>
    <td>3%</td>
    <td>5%</td>
  </tr>

</table>
</body>
</html>