<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
<table>
  <tr>
    <th>Valor da Moeda Base</th>
    <td>R$ {{ base_coin_value }}</td>
  </tr>
</table>
<table>
  <tr>
    <th></th>
    {% for report in monthly_reports -%}
      <th>{{report.header }}</th>
    {% endfor -%}
    <th>Total Período</th>
  </tr>
  <tr>
    <td>Vendas</td>
    {% for report in monthly_reports -%}
      <td>R$ {{report.sale }}</td>
    {% endfor -%}
    <td>R$ 78,00</td>
  </tr>
  <tr>
    <td>Vendas com Pontoz</td>
    {% for report in monthly_reports -%}
      <td>R$ {{report.pointz_sale }}</td>
    {% endfor -%}
    <td>R$ 222,00</td>
  </tr>
  <tr>
    <td>% Participação nas Vendas</td>
    {% for report in monthly_reports -%}
      <td>{{report.pointz_percentage }}%</td>
    {% endfor -%}
    <td>285%</td>
  </tr>
  <tr>
    <td>(-) Emissão de Moeda Base</td>
    {% for report in monthly_reports -%}
      <td>R$ {{report.base_coin_cost }}</td>
    {% endfor -%}
    <td>R$ 13,86</td>
  </tr>
  <tr>
    <td>Investimento / Faturamento</td>
    {% for report in monthly_reports -%}
      <td>{{report.cost_percentage }}%</td>
    {% endfor -%}
    <td>5%</td>
  </tr>
</table>
</body>
</html>